<!--<ion-content [fullscreen]="true">-->
<!--  <div id="one" class="center-image">-->
<!--    <ion-row>-->
<!--        <ion-img src="assets/images/coinkPicture.svg" alt="Coink APP"></ion-img>-->
<!--    </ion-row>-->
<!--    <ion-row style="margin-top: 40px">-->
<!--      <ion-text>-->
<!--        LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA-->
<!--      </ion-text>-->
<!--    </ion-row>-->
<!--  </div>-->
<!--  <div id="two" class="bottom-buttons">-->
<!--    <ion-button class="buttonSignUp" expand="full" shape="round">-->
<!--      REGÍSTRATE-->
<!--    </ion-button>-->
<!--    <ion-button class="buttonLogIn" expand="full" shape="round">-->
<!--      INGRESA-->
<!--    </ion-button>-->
<!--  </div>-->
<!--</ion-content>-->
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="center-row" id="one">
      <ion-col class="ion-text-center" size="12">
        <img alt="Coink APP" height="155" ngSrc="../../../assets/images/coinkPicture.svg" width="126">
      </ion-col>
      <ion-col class="ion-text-center" size="12" style="margin-top: 40px">
        <ion-text>
          LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="bottom-row" id="two">
      <ion-col size="12">
          <ion-button (click)="goToPhonePage()" class="buttonSignUp" expand="full" shape="round">
          REGÍSTRATE
        </ion-button>
        <ion-button class="buttonLogIn" expand="full" shape="round">
          INGRESA
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
