ion-modal {
  --height: 50%;
  --width: 70%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-button {
  width: 80%;
  margin-top: 32px;
  margin-bottom: 24px;
  --color: #004B40;
  --background: #1EEA00;
}

img {
  margin-top: 48px;
}

ion-title {
  margin-top: 32px;
}

ion-text {
  margin-top: 12px;
}
